.semi
    font-weight: 500

a
    @extend .has-text-weight-semibold

h1, h2
    font-weight: bold

img
    &.is-responsive
        display: inline-block
        width: 100%

p.lead
    font-size: $size-4

.button
    &.is-multiline
        min-height: 2.25em
        white-space: unset
        height: auto
        flex-direction: column

.embed-container
    height: 0
    max-width: 100%
    overflow: hidden
    padding-bottom: 56.25%
    position: relative

    iframe, object, embed
        height: 100%
        left: 0
        position: absolute
        top: 0
        width: 100%

section
    &.header
        padding: 1rem 1.5rem

        .title
            font-size: 2em
            font-weight: 700

            a
                color: $grey-dark
                font-weight: inherit !important
                text-decoration: none

                &:hover
                    text-decoration: underline

        .subtitle
            font-size: 1.4em
            font-weight: normal

    &.stats
        background-color: $cyan

        .level-item
            padding: .5rem

            .title
                font-weight: 700

            .subtitle
                color: $grey
                font-size: $size-6
                font-weight: 300

        .chart
            margin-bottom: 1.5em

        .progress-bar
            margin-bottom: 1em

            progress
                margin-bottom: 0

                &.full-vax
                    background-color: transparent
                    &::-webkit-progress-bar
                        background-color: transparent

                    margin-top: -1.5rem
                    position: relative

            .progress-goal
                color: $grey
                font-size: $size-7
                text-align: right
                text-transform: uppercase
                padding-right: 20%

                .icon
                    color: $green
                    transform: rotate(45deg)
                    vertical-align: sub

            .goal-line
                border-left: $grey-light 1px solid
                float: left
                height: 1.5rem
                margin-bottom: -100%
                margin-left: 80%
                position: relative

        .sources
            @extend .has-text-grey
            @extend .is-size-7
            @extend .is-italic
            text-align: center

    &.info
        .links
            .by
                @extend .is-size-7
                color: $grey

    &.about
        @extend .has-background-white-ter

    &.vaccinateca
        background-color: $white-bis

        iframe
            height: 99vh

.button
    &.is-twitter
        background-color: $twitter

footer.footer
    .byline
        img
            height: 1.5em
            vertical-align: bottom

