{% extends "base.html" %}

{% block title %}Tracking overall COVID-19 vaccine progress in Fresno County | {{ block.super }}{% endblock %}

{% block body %}
{% load_vaccine_stats "stats" %}
<section class="section stats">
    <div class="container">
        <div class="box">
            <div class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Fresno County Population</p>
                        <p class="title is-spaced">{{ stats.population|intcomma }}</p>
                        <p class="subtitle">&nbsp;</p>
                    </div>
                </div>
                <div class="level-item has-text-centered has-background-white-ter">
                    <div class="level">
                        <div class="level-item">
                            <div>
                                <p class="heading">At Least One Dose</p>
                                <p class="title is-spaced has-text-{% if stats.one_dose_percent < 40 %}danger{% elif stats.one_dose_percent < 60 %}warning{% else %}success{% endif %}-dark">{{ stats.one_dose_percent|floatformat }}%</p>
                                <p class="subtitle">{{ stats.one_dose|intcomma }}</p>
                            </div>
                        </div>
                        <div class="level-item">
                            <div>
                                <p class="heading">7-Day Avg. Increase</p>
                                <p class="title is-spaced">{{ stats.seven_day_one_dose_percent|floatformat }}%</p>
                                <p class="subtitle">&nbsp;<!-- {{ stats.seven_day_one_dose|intcomma }} --></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div class="level">
                        <div class="level-item">
                            <div>
                                <p class="heading">Fully Vaccinated</p>
                                <p class="title is-spaced has-text-{% if stats.vaccinated_percent < 40 %}danger{% elif stats.vaccinated_percent < 60 %}warning{% else %}success{% endif %}-dark">{{ stats.vaccinated_percent|floatformat }}%</p>
                                <p class="subtitle">{{ stats.vaccinated|intcomma }}</p>
                            </div>
                        </div>
                        <div class="level-item">
                            <div>
                                <p class="heading">7-Day Avg. Increase</p>
                                <p class="title is-spaced">{{ stats.seven_day_vaccinated_percent|floatformat }}%</p>
                                <p class="subtitle">&nbsp;<!-- {{ stats.seven_day_vaccinated|intcomma }} --></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="progress-bar">
                <span class="goal-line"></span>
                <progress class="progress is-large is-primary partial-vax" value="{{ stats.one_dose_percent|floatformat:1 }}" max="100">Current: {{ stats.one_dose_percent|floatformat:1 }}%</progress>
                <progress class="progress is-large is-success full-vax" value="{{ stats.vaccinated_percent|floatformat:1 }}" max="100">Current: {{ stats.vaccinated_percent|floatformat:1 }}%</progress>
                <div class="progress-goal">
                    <span>Herd immunity @ 80%</span>
                    <span class="icon">
                        <span class="fas fa-arrow-alt-up fa-lg"></span>
                    </span>
                </div>
            </div>

            <div class="sources">
                <p>via <a href="https://data.ca.gov/dataset/covid-19-vaccine-progress-dashboard-data">California Department of Public Health</a></p>
                <p>Last updated {{ stats.updated }}.</p>
            </div>
        </div>
    </div>
</section>

<section class="section info">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-6-tablet is-6-desktop">
                <canvas id="vaccine-chart" class="chart" width="200" height="125"></canvas>
            </div>
            <div class="column is-6-tablet is-5-desktop is-offset-1-desktop">
                <div class="content">
                    <h4>
                        <span class="fad fa-syringe fa-lg fa-fw" style="
                            --fa-secondary-opacity: 1.0;
                            --fa-primary-color: grey;
                            --fa-secondary-color: powderblue;
                        "></span>
                        <span>Find a Vaccine</span>
                    </h4>
                    <ul class="links">
                        <li>
                            <a href="https://myturn.ca.gov/">My Turn</a>
                            <span class="by">California Department of Public Health</span>
                        </li>
                        <li>
                            <a href="https://www.vaccinateca.com/">VaccinateCA</a>
                            <span class="by">Volunteer, community-run tracker</span>
                        </li>
                        <li>
                            <a href="https://vaccinefinder.org/">VaccineFinder</a>
                            <span class="by">Boston Children's Hospital, CDC, USDS</span>
                        </li>
                    </ul>

                    <h4>
                        <span class="fad fa-viruses fa-lg fa-fw" style="
                            --fa-secondary-opacity: 1.0;
                            --fa-primary-color: crimson;
                            --fa-secondary-color: silver;
                        "></span>
                        <span>COVID-19 Information</span>
                    </h4>
                    <ul class="links">
                        <li>
                            <a href="https://www.co.fresno.ca.us/departments/public-health/covid-19">Fresno County</a>
                        </li>
                        <li>
                            <a href="https://covid19.ca.gov/">California</a>
                        </li>
                    </ul>
                    <h4>
                        <span class="fad fa-chart-line fa-lg fa-fw" style="
                            --fa-secondary-opacity: 1.0;
                            --fa-primary-color: mediumseagreen;
                            --fa-secondary-color: silver;
                        "></span>
                        <span>Data Resources</span>
                    </h4>
                    <ul class="links">
                        <li>
                            <a href="https://data.ca.gov/group/covid-19">COVID-19 Datasets</a>
                            <span class="by">California Open Data Portal</span>
                        </li>
                        <li>
                            <a href="https://covid19.ca.gov/vaccination-progress-data/">Vaccination Progress Data</a>
                            <span class="by">California DPH</span>
                        </li>
                        <li>
                            <a href="https://www.arcgis.com/apps/MapSeries/index.html?appid=c694b751cefe4828b48786d3024f818a">COVID-19 Immunization Dashboard</a>
                            <span class="by">Fresno County DPH</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section about">
    <div class="container">
        <div class="columns is-centered is-multiline">
            <div class="column is-10-tablet is-7-desktop">
                <div class="box">
                    <div class="content">
                        <h3>What's this all about?</h3>
                        <p>We wanted an easier way to track the percent of fully
                            vaccinated people in Fresno County. This metric is
                            important because it shows us how close we currently are to
                            herd immunity (generally considered to be around 80%).</p>

                        <p>Be sure to follow <a href="https://twitter.com/FresnoVax">@FresnoVax</a> on Twitter for daily updates.</p>

                        <hr />
                        <h3>How can I get a COVID-19 vaccine?</h3>
                        <p>Hundreds of volunteers at <a href="https://www.vaccinateca.com/">VaccinateCA</a>
                            have been tracking vaccine availability all across the state, and we've
                            added their vaccine finder here so that you can find a vaccine close to you.</p>
                        <p>
                            <a href="/find/" class="button is-multiline is-medium is-success">Find a COVID-19 vaccine near you!</a>
                        </p>

                        <hr />

                        <h3>What does "fully vaccinated" mean?</h3>
                        <p>Per the <a href="https://data.ca.gov/dataset/covid-19-vaccine-progress-dashboard-data">California COVID-19 Vaccine Progress Dashboard Data</a>,
                            here is the criteria for someone to be considered fully vaccinated:</p>
                        <ol>
                            <li>They received one dose of Johnson &amp; Johnson.</li>
                            <li>They received two Pfizer doses &GreaterEqual; 17 days apart.</li>
                            <li>They received two Moderna doses &GreaterEqual; 24 days apart.</li>
                            <li>They received a combination of Pfizer/Moderna doses &GreaterEqual; 17 days apart.</li>
                            <li>They have three or more vaccination records.</li>
                            <li>Their only dose in their immunization records is labeled as dose number 2.</p></li>
                        </ol>
                        <p>Note that "fully vaccinated" does not necessarily mean "fully
                            protected". Full protection is assumed to
                            happen about 14 days after the second dose of a two-dose
                            vaccine (Pfizer/Moderna) or 28 days after a single-dose
                            vaccine (Johnson &amp; Johnson).</p>
                    </div>
                </div>
            </div>
            <div class="column is-10-tablet is-5-desktop">
                <div class="box" style="padding: 0;">
                    <a class="twitter-timeline" height="420" data-dnt="true" href="https://twitter.com/FresnoVax?ref_src=twsrc%5Etfw">Tweets by FresnoVax</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
    {% load_vaccine_stats "stats" %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script type="text/javascript">
        window.chartColors = {
            black:        'hsl(0, 0%, 4%)',
            black_bis:    'hsl(0, 0%, 7%)',
            black_ter:    'hsl(0, 0%, 14%)',
            grey_darker:  'hsl(0, 0%, 21%)',
            grey_dark:    'hsl(0, 0%, 29%)',
            grey:         'hsl(0, 0%, 48%)',
            grey_light:   'hsl(0, 0%, 71%)',
            grey_lighter: 'hsl(0, 0%, 86%)',
            grey_lightest: 'hsl(0, 0%, 93%)',
            white_ter:    'hsl(0, 0%, 96%)',
            white_bis:    'hsl(0, 0%, 98%)',
            white:        'hsl(0, 0%, 100%)',
            orange:       'hsl(14,  100%, 53%)',
            yellow:       'hsl(48,  100%, 67%)',
            green:        'hsl(141, 53%,  53%)',
            turquoise:    'hsl(171, 100%, 41%)',
            cyan:         'hsl(204, 71%,  53%)',
            blue:         'hsl(217, 71%,  53%)',
            purple:       'hsl(271, 100%, 71%)',
            red:          'hsl(348, 86%, 61%)'
        };

        var ctx = document.getElementById('vaccine-chart').getContext('2d');
        var dataChart = new Chart(ctx, {
            data: {
                labels: {{ stats.historical.dates|jsonify|safe }},
                // responsive: true,
                maintainAspectRatio: false,
                datasets: [{
                    type: 'line',
                    label: '% Vaccinated',
                    backgroundColor: window.chartColors.green,
                    borderColor: window.chartColors.green,
                    borderWidth: 2,
                    fill: false,
                    yAxisID: 'y-percent',
                    pointRadius: 1,
                    pointHoverRadius: 5,
                    data: {{ stats.historical.percents|jsonify|safe }}
                }, {
                    type: 'line',
                    label: '# Vaccinated',
                    backgroundColor: window.chartColors.cyan,
                    borderColor: window.chartColors.cyan,
                    borderWidth: 2,
                    fill: false,
                    yAxisID: 'y-amount',
                    pointRadius: 1,
                    pointHoverRadius: 5,
                    data: {{ stats.historical.cumulative_fully_vaccinated|jsonify|safe }}
                }]
            },
            options: {
                onResize: function(chart, size){
                    console.log(size)
                },
                title: {
                    display: true,
                    text: 'Full Vaccinations in Fresno County over the last 60 days'
                },
                legend: {
                    display: true
                },
                scales: {
                    xAxes: [{
                        gridLines: {
                            display: false
                        },
                        offset: true,
                        stacked: true,
                        type: 'time',
                        time: {
                            unit: 'day'
                        }
                    }],
                    yAxes: [{
                        id: 'y-percent',
                        ticks: {
                            min: 0,
                            max: 100,
                        }
                    }, {
                        id: 'y-amount',
                        position: 'right',
                        stacked: true,
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            min: 0,
                            // max: {{ stats.population }},
                        }
                    }]
                },
            }
        });
    </script>
{% endblock %}
